.register {
  background-image: url("/assets/images/bgLogin.jpg");
  background-color: #c1edf8;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 4.5rem);
  object-fit: cover;
}
